* {
  background: rgba(19, 20, 12, 0.8);
  background-alt: #47483b;
  foreground: #e5e3d6;
  selected: #c5cc7a;
  active: #c5cc7a;
  urgent: #ffb4ab;
}

inputbar {
    background-image: url("/home/olavorw/Pictures/Wallpapers/Day/dawn-apple-trees.jpg", width);
}
